@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{

    --white: #fff6ff;
    --purple: #2BE2BF; 
    --dark-rose: #8bebd9;  
    --black: #221824;  
    --font: 'Raleway' , sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body{
    background: var(--black);
    overflow-x: hidden;
}

section{
    position: relative;
    width: 100%;
}

/* NAVBAR */

.nav{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--purple);
    border-left: 10px solid var(--purple);
    overflow: hidden;
    transition: 0.4s;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav li {
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav ul li:hover {
    background: var(--white);

}

.nav ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.nav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    color: var(--black);
    text-decoration: none;
}

.nav ul li a:hover {
    color: var(--purple);
}

.nav ul li a .icono {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.nav ul li a .icono ion-icon {
    font-size: 1.75em;
}

.nav ul li a .titulo {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* Dashboard */

.container  {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.4s;
}

/* Topbar */

.container .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.container .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.container .topbar .buscar {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.container .topbar .buscar label{
    position: relative;
    width: 100%;
}

.container .topbar .buscar label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 1em;
    outline: none;
    border: 1px solid var(--dark-rose);
}

.container .topbar .buscar label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.container .topbar .perfil-usuario {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.container .topbar .perfil-usuario img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Cards */

.cards {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 30px;
}
.cards .card {
    position: relative;
    background: var(--white);
    padding: 15px;
    box-shadow: 0 7px 2px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.4s;
}

.cards .card:hover {
    background: var(--purple);
}

.cards .card .card-numeros {
    position: relative;
    font-weight: 700;
    font-size:  2.5em;
    color: var(--dark-rose);
}

.cards .card .card-nombre {
    color: var(--dark-rose);
    font-size: 1.1em;
    margin-top:  5px;
    margin-right: 80px;
}

.cards .card .card-icono {
    font-size: 3.5em;
    color: var(--dark-rose);
}

.card .card:hover .card-numeros,
.card .card:hover .card-nombre,
.card .card:hover .card-icono {
    color: var(--white);
}

/* Detalle */

.detalles {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 0fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.detalles .ordenes-recientes {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow:  0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header h2 {
    font-weight: 700;
    color: var(--purple);
}

.boton {
    position: relative;
    padding: 5px 10px;
    background: var(--purple);
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
}

.detalles table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
}

.detalles .ordenes-recientes table tr {
    color: var(--black);
    border-radius: 1px solid rgba(0,0,0,0.1);
}

.detalles .ordenes-recientes table tr:hover {
    background: var(--purple);
    color: var(--white);
}

.detalles .ordenes-recientes table th,
.detalles .ordenes-recientes table tr td { 
    padding: 10px;
}

.detalles .ordenes-recientes table th:last-child,
.detalles .ordenes-recientes table tr td:last-child {
    text-align: end;
}

.detalles .ordenes-recientes table th:nth-child(3),
.detalles .ordenes-recientes table tr td:nth-child(3) {
    text-align: center;
}

.estatus {
    padding: 2px 10px;
    color: var(--white);
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
}

.estatus.pendiente {
    background: rgba(229,206,7,0.3);
    color: #e5ce07;
}

.estatus.devuelto {
    background: rgba(227,1,1,0.3);
    color: #e30101;
}

.estatus.pagado {
    background: rgba(141,224,44,0.3);
    color: #8de02c;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media only screen and (max-width: 992px) {
    .nav {
        left: -300px;
    }

    .nav.active {
        left: 0;
        width: 300px;
    }

    .container {
        width: 100%;
        left: 0;
    }

    .container.active {
        left: 300px;
    }

    .container .topbar {
        flex-direction: row; 
    }

    .container .topbar .buscar {
        flex-grow: 1;
        max-width: 100%; 
        text-align: center;
    }

    .container .topbar .perfil-usuario {
        margin-left: 0; 
    }
}

@media only screen and (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr; 
        grid-gap: 20px; 
    }

    .container .topbar {
        flex-direction: row; 
    }

    .container .topbar .buscar {
        flex-grow: 1;
        max-width: 100%; 
        text-align: center;
    }

    .container .topbar .perfil-usuario {
        margin-left: 0; 
    }

    .detalles {
        grid-template-columns: 1fr; /* Una columna en detalles para pantallas pequeñas */
        overflow-x: auto; /* Asegura que la tabla se pueda desplazar horizontalmente */
    }

    .detalles table {
        width: 100%; 
    }
}

@media only screen and (max-width: 468px) {
    .nav {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .nav.active {
        width: 100%;
        left: 0;
    }

    .toggle {
        position: fixed;
        left: initial;
        right: 0;
        z-index: 10000;
    }

    .cards {
        grid-template-columns: 1fr; 
    }

    .perfil-usuario {
        min-width: 40px;
    }

    .header {
        flex-direction: column; 
        align-items: center; 
    }

    .header h2 {
        font-size: 1.2em; 
        text-align: center; 
    }

    .container .topbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .container .topbar .toggle,
    .container .topbar .perfil-usuario {
        margin: 0;
    }

    .container .topbar .buscar {
        order: 2;
        width: 100%; 
        text-align: center;
    }
}


